.sideBarChannel:hover > h4 {
    color: white;
    background-color: #40464b;
}

.sideBarChannel > h4 {
    display: flex;
    padding-left: 15px;
    align-items: center;
    background-color: #2f3135;
    color: grey;
    cursor: pointer;
}

.sideBarChannel__hash {
    font-size: 30px;
    padding: 8px;
}

.sidebar__voice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    padding: 10px;
    border-top: 1px solid gray;
}

.sidebar__voiceInfo {
    flex: 1;
    padding: 10px;
}